<!--Balises URL :
extensions=sequenced&kernel=sql&module=https%3A%2F%2Ffabricenativel.github.io%2FTerminale%2Ffiles%2FC2%2Folympics1976-2008.db
 
https://notebook.basthon.fr/?extensions=sequenced&kernel=sql&module=https%3A%2F%2Ffabricenativel.github.io%2FTerminale%2Ffiles%2FC2%2Folympics1976-2008.db&ipynb=eJztWOtyEzcUfpXDMkCS2m5I0pYYkpngmNTUgeC4F6bLZOTdY1tFKy2S1sRcZniN_uuvtukr9KffhCfpOfIlzoWW6xQ6NcGJjqSzOp8-fTpnn0YJKuWi6o9Powy9SIUXUfXp81KwH_hhjlE1yoR9mJrHOipFzhQ2YduNC-XyTaGkQwfftppQjTUeetROGu02HD4qUCeYXn6IVqPacI_U5cykhcKNvve5u7S6dWnlFv10RcfKBLXwcoCq0pO-X3Qq0lBXG20mtVDIw6RCR79rK_Rl1DDLZeKurn_1ZXlleflaJe1AubwZ6-h56U0DuQh7FjOJFnLhADXs32u-laPvjEwkFBqhIxxCSj9G69ERAYS5HR051B5BibPdKf3PRkepkIqihHF4BCD3AAcJo1-A44x1rJeWaoo7n4ArLLvjdRGukMgyOaLl0PM8iDwvhhQUD6p5qz6r09Pt0hLktF4Q3a5M-mjPW07ldOyRt4XzmEbVrlAOT0GRmBTnYdivN-u1NizBrdbdXdjFlOZQPx5iUngix0FiCu2jqi6UKkWm8HnhmYAP3hzxGnp_Bm1A5yExWW4ct9IrvCMOGSEvOvQtBpgA45z0RZY7QkgOhPaOKbw0WXA1eKHB2mTsm2AKkys8pJGWoCb9sAT3UdgS7OfG-hK8fPErOKN98C28t7JDkc3PnjgPTponBoV5FCmxBBZo8RkGIg2ElWEi0TIf-r7Ri7Qy7ZmtC5I2tId2sQSeTx4stOs_tBdLzJFYP4OtiXOgzzNoE4oQPs-4szz_gTNtHtJIyd64067v1Fu0JjU6Whx3cOjskZ42NjAKc2ODLWByYtS2dInMlaSw5s31AcVzwrLl-wr9yVE7qFO0J0w1ppEdHjD_zus4-5SDc7yEHZlZ3uLU3-ivgvND0rWYjoIytupRqOsdkTzsWVpJWh5bxZPC4vU4gk24ISFRwjma0RXQFeWcpFIq6uPtLvdlmqKmTjp2GEc0_nO5CZd1x-XXoX6INiG9hKtk7q9u8l63iasUFtE5YdKwmljS39EfHmfsxiBtpuPQchM6kppMVBamQnnhXawt6oEZkqECdQ0pKVIhLQKJTdClmV4FthLnrJAepwwPx5B0Sl0Rkk8jxqT_cyupnBXVdxcW-P7reqseGLjBAglbd7anBCAEb1lBi4ij6-9BgKx4PL-a7Zm2z3CownsJcML_0uRonI02NCi6HaNSIs35IQfzFJdluNvapqN58_7sdG3t1_5H5ZNHZbux327coT-movdauNyvb7XIcnX92hpZZiBMfWzX_xMoZPMoHN8-zAZjfEcoNQfH5sbV9fXlWfMG0-M_gMHfMeFu63WIAM3GbqMNX3xSYMzEYj5NC-GXIHklR6Y9zcY3dYijS1qKf_PqED12HXUsioe5oWwvevAa-cjScbI_TvUTuqylLij3_4Sym5Xj7KaeWE5C1Imshmo0yKk8pAKAs5n0yhhKGwqB5LyywLGHWEvdNTYTvJnzuVGVn_QW-MRaVEIqT3VCSIQ8l1_jAqCvRr-z7y7dPaPfhCTbkBdrOlQmFyG_nxV9FIGx5Kw4hJ-Qvk6XgNfWKuO8_t2OxweqwzqvwCAUWAHpuXgo77xdpOZ0aVtZsNgTlvNz9fLFz7TMLJ8Va4ILukxQ9j7TucWPFo1kjMboKLdYDHgHhQ54TPNortUnyDAKmjzzEkAQHaxMhKTIdqk8F6hgr4-KalQxZc2pVwUEJoG39s659QeCIq1A--yBmK6fi13K5eyECOgDEfjAzkrvIF40hjY7ajEkNqXiI44YYugTIfgaR1I5Pj-yx8UlFTSFpjA0nTiE26RUNAPmJhOLBiy74xrIjf60MISu7JGCWbjwj0iWPg5lvngR7ubEl5mU2fGRIznWGt0npPWrx1p__ApNGzo66tQ7G0Hrs0Xi6flj7Wbxprsz1q0WSXt66nVFrKeJDFf3sQ7vKSZDYr2NHd82O9t70KpvNWO9Y81j3580uLMmPPYMzZ5N4X8Lx_OqvKI0XDb8fibgqIkcpOYF7DVuMqMnXsPQxBrpHBcilYl6PSidINr4XanLMeFWKl2uxPBAiyykNveatFtK6F5BjyCDe6TIMOnlxnPaZN0Z329Rde24cZBJbWxUXXn-F_8-mVg

-->

# Premier pas en SQL

Voici une base de données eprésente la base de données des médailles olympiques de 1976 à 2008

**Cliquez sur la cellule ci-dessous et appuyer sur Ctrl+Enter** pour afficher la base de données.

In [ ]:
SELECT * FROM Medals

Cette base de donnée est composée d'une seule table avec les champs suivants :
* Medals: est le nom de la table.
* Id, City, Year, Sport, … sont les attributs de la table Medals.
* Les attributs sont typés (comme une variable en python): entier (integer), texte (TEXT),


| Attribut    | Type      |
| ------------- | ------------- |
| Id | INTEGER (clé) |
| City | TEXT |
| Year | INTEGER |
| Sport | TEXT |
| Discipline | TEXT |
| Event | TEXT |
| Athlete | TEXT |
| Gender | TEXT |
| Country_code | TEXT |
| Country | TEXT |
| Event_Gender | TEXT |
| Medal | TEXT |

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 1 </h3>

Tester chacune des requêtes suivantes en observant bien les résultats
renvoyés. En déduire quelles données sont extraites de la base à l'aide de
ces requêtes.

In [ ]:
SELECT * FROM Medals WHERE Year=2008 AND Country="France";

Données extraites :

In [ ]:
SELECT Athlete, Event FROM Medals WHERE Medal="Gold" AND Country="France" AND Year=2000 ORDER BY Athlete ASC;

Données extraites :

In [ ]:
SELECT Athlete, Event FROM Medals WHERE Medal="Gold" AND Country="France" AND Year=2000 ORDER BY Athlete ASC;

Données extraites :

In [ ]:
SELECT DISTINCT Country FROM Medals WHERE Medal="Gold" AND YEAR="1984" ORDER BY Country DESC;

Données extraites :

In [ ]:
SELECT DISTINCT Country FROM medals WHERE Discipline="Football" AND YEAR>=1990 AND YEAR<2000;

Données extraites :

In [ ]:
SELECT DISTINCT Country FROM Medals WHERE Medal="Gold" OR YEAR="1984" ORDER BY Country DESC LIMIT 5;

Données extraites :

In [ ]:
SELECT Athlete, City, Year, Medal, country FROM medals WHERE country LIKE "%nia";

Données extraites :

*Ctrl+Enter pour continuer*

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 2 </h3>

Ecrire les requêtes SQL permettant d'extraire de cette base de données les
informations suivantes :


a. Les noms de tous les athlètes français ayant obtenu une médaille d'or
aux jeux olympiques de 1984.

b. Les noms de tous les champions olympiques en Judo de 1976 à 2008.(regarder l’exemple avec la commande DISTINCT)

c. Les épreuves dans lesquelles le champion de natation américain
Michael Phelps a obtenu des médailles en 2004.

d. Tous les athlètes médaillés entre 1976 et 2008 dont le nom contient
"Richardson". Le handballeur d'origine réunionnaise Jackson Richardson
devrait bien sûr y figurer !

*Ctrl+Enter pour continuer*

## Opérations sur les colonnes

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 3 </h3>

Voici une nouvelle table avec la structure suivaante : 
RR
id INTEGER (clé)
Country TEXT
Year INTEGER
DebtToGDP REAL
Growth REAL
DebtCategory INTEGER


(DebtToGDP : la dette en pourcentage du PIB et Growth : la croissance.)