# Premier pas en SQL - Suite

## Opérations sur les colonnes

Voici une nouvelle table nommée **RR** avec la structure suivante : 

| Attribut    | Type      | Explication |
| ------------- | ------------- | ------------- |
| id | INTEGER (clé) |  |
| Country | TEXT |  |
| Year | INTEGER |  |
| DebtToGDP | REAL | dette en pourcentage du PIB |
| Growth | REAL | la croissance |
| DebtCategory | INTEGER |  |

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 1 </h3>

Quelques requêtes pour s'échauffer...

a) Entrer une requête SQL pour afficher la table :

In [1]:
SELECT * FROM RR

Id	Country	Year	DebtToGDP	Growth	DebtCategory
1	Australia	1946	190.42	-3.56	4
2	Australia	1947	177.32	2.46	4
3	Australia	1948	148.93	6.44	4
4	Australia	1949	125.83	6.61	4
5	Australia	1950	109.81	6.92	4
6	Australia	1951	87.09	4.27	3
7	Australia	1952	86.07	0.9	3
8	Australia	1953	79.87	3.12	3
9	Australia	1954	76.85	6.22	3
10	Australia	1955	74.98	5.46	3
11	Australia	1956	71.82	3.44	3
12	Australia	1957	67.72	2	3
13	Australia	1958	66.05	4.8	3
14	Australia	1959	62.39	6.16	3
15	Australia	1960	48.34	4.19	2
16	Australia	1961	49.38	0.69	2
17	Australia	1962	50.33	6.25	2
18	Australia	1963	47.59	6.13	2
19	Australia	1964	45.01	6.84	2
20	Australia	1965	43.74	5.11	2
21	Australia	1966	42.48	2.78	2
22	Australia	1967	40.53	6.75	2
23	Australia	1968	39.49	5.88	2
24	Australia	1969	36.8	6.08	2
25	Australia	1970	34.96	6.36	2
26	Australia	1971	32.29	4.45	2
27	Australia	1972	30.72	2.81	2
28	Australia	1973	27.36	5.42	1
29	Australia	1974	22.37	2.48	1
30	Australia	1975	23.64	2.71	1
31	Australia	1976	22.98	4.03	1
32	Australia	1977	23.64	1.05	1
33	Australia	1978	24.73	2.9	1
34	Australia	1979	20.87	5.27	1
35	Australia	1980	19.12	2	1
36	Australia	1981	16.18	4.16	1
37	Australia	1982	15.04	-0.01	1
38	Australia	1983	17.58	-0.53	1
39	Australia	1984	20.06	6.41	1
40	Australia	1985	21.42	5.72	1
41	Australia	1986	21.49	2.11	1
42	Australia	1987	19.99	4.4	1
43	Australia	1988	16.29	4.03	1
44	Australia	1989	12.5	4.57	1
45	Australia	1990	10.33	1.6	1
46	Australia	1991	9.31	-1.25	1
47	Australia	1992	10.87	2.11	1
48	Australia	1993	13.81	3.9	1
49	Australia	1994	15.92	5.01	1
50	Australia	1995	18.38	3.49	1
⋮ 	⋮ 	⋮ 	⋮ 	⋮ 	⋮
1126	US	1960	54.39	2.48	2
1127	US	1961	53.04	2.33	2
1128	US	1962	50.91	6.06	2
1129	US	1963	49.51	4.37	2
1130	US	1964	46.97	5.79	2
1131	US	1965	44.12	6.42	2
1132	US	1966	40.61	6.52	2
1133	US	1967	39.19	2.53	2
1134	US	1968	38.2	4.84	2
1135	US	1969	35.93	3.11	2
1136	US	1970	35.72	0.19	2
1137	US	1971	35.33	3.36	2
1138	US	1972	34.51	5.31	2
1139	US	1973	33.14	5.79	2
1140	US	1974	31.68	-0.55	2
1141	US	1975	32.56	-0.21	2
1142	US	1976	34	5.37	2
1143	US	1977	34.42	4.6	2
1144	US	1978	33.64	5.58	2
1145	US	1979	32.26	3.12	2
1146	US	1980	32.56	-0.27	2
1147	US	1981	31.91	2.54	2
1148	US	1982	35.1	-1.94	2
1149	US	1983	38.96	4.52	2
1150	US	1984	40	7.19	2
1151	US	1985	43.23	4.14	2
1152	US	1986	47.65	3.46	2
1153	US	1987	49.62	3.2	2
1154	US	1988	51.02	4.11	2
1155	US	1989	52.12	3.57	2
1156	US	1990	55.74	1.88	2
1157	US	1991	61.17	-0.23	3
1158	US	1992	64.09	3.39	3
1159	US	1993	66.17	2.85	3
1160	US	1994	66.23	4.07	3
1161	US	1995	67.08	2.51	3
1162	US	1996	66.66	3.74	3
1163	US	1997	64.97	4.46	3
1164	US	1998	62.84	4.36	3
1165	US	1999	60.47	4.83	3
1166	US	2000	57.02	4.14	2
1167	US	2001	56.46	1.08	2
1168	US	2002	58.52	1.81	2
1169	US	2003	60.88	2.49	3
1170	US	2004	62.18	3.57	3
1171	US	2005	62.77	3.05	3
1172	US	2006	63.49	2.67	3
1173	US	2007	63.99	2.14	3
1174	US	2008	74.09	0.44	3
1175	US	2009	83.48	-2.73	3

b) Vérifier que les données contiennent bien 20 pays en les listant.

In [6]:
SELECT DISTINCT Country FROM RR;

Country
Australia
Austria
Belgium
Canada
Denmark
Finland
France
Germany
Greece
Ireland
Italy
Japan
Netherlands
New Zealand
Norway
Portugal
Spain
Sweden
UK
US

c) Vérifier aussi que les années vont de 1946 à 2009

In [5]:
SELECT DISTINCT Year FROM RR ORDER BY Year ASC;

Year
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009

d) Lister par ordre croissant les dix années où la croissance a été la plus faible en France.

In [26]:
SELECT Year FROM RR WHERE Country = "France" ORDER BY Growth ASC  LIMIT 10;

Year
2009
1988
1982
1989
2003
1980
2002
1981
1987
1990

e) Lister les pays où la croissance a dépassé 15 %

In [27]:
SELECT DISTINCT Country, Growth FROM RR WHERE Growth>=15;

Country	Growth
Austria	27.33
Austria	18.9
Belgium	15.22

*Ctrl+Enter pour continuer*

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 2 </h3>

Écrire une requête SQL permettant d'obtenir le pays, l'année et le PIB où la dette (par rapport au PIB) a été la plus importante.

In [30]:
SELECT Country, Year, DebtToGDP FROM RR ORDER BY DebtToGDP DESC LIMIT 1;

Country	Year	DebtToGDP
UK	1946	247.48

*Ctrl+Enter pour continuer quand vous avez trouvé le résultat*

!!! success 

Vous avez *normalement* écrit une requête de classement par ordre
décroissant associée à une clause LIMIT. En réalité on recherche ici le
maximum d'une colonne, le langage SQL permet d'opérer sur des colonnes :
* MIN et MAX permettent d'obtenir respectivement le maximum ou le
minimum d'un champ.
* SUM permet de calculer la somme sur un ensemble
d'enregistrements.
* AVG permet de calculer la moyenne sur un ensemble
d'enregistrements.
* COUNT permet de compter le nombre d'enregistrements.
Vérifier si la requête ci-dessous donne le même résultat:

!!!

Vérifier si la requête ci-dessous donne le même résultat:

In [31]:
SELECT Country, Year, Growth, MAX(DebtToGDP) FROM RR

Country	Year	Growth	MAX(DebtToGDP)
UK	1946	-2.46	247.48

*Ctrl+Enter pour continuer*

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 3 </h3>




Regarder les 10 premières minutes de la vidéo https://youtu.be/yeX_Zs7zztY .



En vous aidant de l’opérateur AVG, retrouver à l'aide de SQL les vraies valeurs
données à 8min30 de croissance moyenne.

In [32]:
SELECT avg(Growth) FROM RR where DebtToGDP <= 30;

avg(Growth)
4.173521126760564

In [33]:
SELECT avg(Growth) FROM RR where DebtToGDP > 30 and DebtToGDP < 60 ;

avg(Growth)
3.0923006833712985

In [34]:
SELECT avg(Growth) FROM RR where DebtToGDP > 30 and DebtToGDP< 60 ;

avg(Growth)
3.0923006833712985

In [35]:
SELECT avg(Growth) FROM RR where DebtToGDP > 90;

avg(Growth)
2.167818181818182

~4,2 % : 4.173521126760564
~3,1 % : 3.0923006833712985
~3,2 % : 3.0923006833712985
~2,2 % : 2.167818181818182

*Ctrl+Enter pour continuer*

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 4 - Pour aller plus loin ... </h3>


Les opérations sur les colonnes sont particulièrement utiles en lien avec la
clause GROUP BY. Par exemple, si on souhaite obtenir la somme de la
croissance pour chacun des 20 pays depuis 1970 :

```sql
SELECT country, SUM(Growth) FROM RR WHERE Year>=1970 GROUP BY Country
```
 
On peut même renommer la colonne SUM(Growth) des résultats grâce à AS et donc l'utiliser comme critère de classement:

```sql
SELECT country, SUM(Growth) AS moy70 FROM RRWHERE Year>=1970 GROUP BY Country ORDER BY moy70 DESC;
```

Écrire une seule requête permettant d'obtenir les taux de croissance moyenne pour chacune des catégories de dette.