# Le√ßon n¬∞3: Gestion simplifi√©e d'un cin√©ma

## I) Mod√©lisation d'une base de donn√©es

Nous allons mod√©liser une base de donn√©es qui g√®re les projections de films dans des salles de cin√©ma. 

### 1. Description du mod√®le
La base de donn√©es doit g√©rer :
- **Les films** avec un num√©ro unique, un titre et une dur√©e.
- **Les projections** qui ont un num√©ro unique et un tarif.
- **Les cr√©neaux horaires** d√©finis par une date et une heure de d√©but.
- **Les salles** identifi√©es par un num√©ro et une capacit√©.

Ces entit√©s sont li√©es entre elles par diff√©rentes **associations** :
- **Un film peut √™tre projet√© plusieurs fois** (relation `CONCERNE`).
- **Une projection a lieu √† un seul cr√©neau horaire**, mais un cr√©neau peut ne pas contenir de projection (relation `AVOIR_LIEU_PENDANT`).
- **Une projection a lieu dans une seule salle**, mais une salle peut accueillir plusieurs projections (relation `AVOIR_LIEU_DANS`).

![copie d'√©cran](https://githepia.hesge.ch/info_sismondi/activites-2in-do/-/raw/main/Notebooks/img/BD_cours_n3_cinema_association_entite.png)

### 2. Explication des associations
##### CONCERNE (1,1 PROJECTION <--> 0,N FILM)
- Chaque **projection** est associ√©e √† **un seul film**.
- Un **film** peut √™tre projet√© plusieurs fois ou ne pas l'√™tre du tout.

##### AVOIR_LIEU_PENDANT (0,N CR√âNEAU_HORAIRE <--> 1,1 PROJECTION)
- Chaque **projection** a lieu √† **un unique cr√©neau horaire**.
- Un **cr√©neau horaire** peut ne contenir aucune projection ou en contenir plusieurs.

##### AVOIR_LIEU_DANS (1,1 PROJECTION <--> 0,N SALLE)
- Chaque **projection** a lieu dans **une seule salle**.
- Une **salle** peut accueillir plusieurs projections ou √™tre vide.

En partant du mod√®le entit√©-association, on peut cr√©er le mod√®le relationnel qui va nous permettre de cr√©er la base de donn√©e.

![copie d'√©cran](https://githepia.hesge.ch/info_sismondi/activites-2in-do/-/raw/main/Notebooks/img/BD_cours_n3_cinema_schema_relationnel.png)

### 3.  Rappel sur les cl√©s primaires et cl√©s √©trang√®res üîë

Dans une base de donn√©es relationnelle, les **cl√©s primaires** et **cl√©s √©trang√®res** permettent d'√©tablir des liens entre les tables.

#### üìå **Cl√© primaire**
Une **cl√© primaire** est un attribut (ou un ensemble d‚Äôattributs) qui identifie **de mani√®re unique** chaque ligne d‚Äôune table.
- Elle ne peut pas contenir de valeurs NULL.
- Elle doit √™tre unique pour chaque ligne.

**Exemple :** Dans la table `FILM`, `Num_film` est une cl√© primaire car chaque film poss√®de un identifiant unique. Elle est repr√©sent√©e par soulign√© dans le sch√©ma.
```sql
CREATE TABLE FILM (
    Num_film INTEGER NOT NULL PRIMARY KEY,
    Titre VARCHAR(255),
    Duree INTEGER
);
```

#### üìå **Cl√© √©trang√®re**
Une **cl√© √©trang√®re** est un attribut qui √©tablit une relation entre deux tables en faisant r√©f√©rence √† la cl√© primaire d‚Äôune autre table. Elle est repr√©sent√© par un # dans le sch√©ma.
- Elle garantit l'int√©grit√© des donn√©es : une cl√© √©trang√®re ne peut contenir que des valeurs existantes dans la table r√©f√©renc√©e.

**Exemple :** Dans la table `PROJECTION`, `Num_film` est une cl√© √©trang√®re qui fait r√©f√©rence √† `Num_film` dans `FILM`.
```sql
CREATE TABLE PROJECTION (
    Num_projection INTEGER NOT NULL PRIMARY KEY,
    Tarif DECIMAL(10,2),
    Num_creneau INTEGER NOT NULL,
    Num_film INTEGER NOT NULL,
    Num_salle INTEGER NOT NULL,
    FOREIGN KEY (Num_salle) REFERENCES SALLE (Num_salle),
    FOREIGN KEY (Num_film) REFERENCES FILM (Num_film),
    FOREIGN KEY (Num_creneau) REFERENCES CRENEAU_HORAIRE (Num_creneau)
);
```

---

Le code suivant, permet de cr√©er et ins√©rer des donn√©es dans les diff√©rentes tables mod√©lis√©es.

In [ ]:
-- Cr√©ation des tables
CREATE TABLE CRENEAU_HORAIRE (
  Num_creneau    INTEGER NOT NULL PRIMARY KEY,
  Date           DATE,
  Heure_de_debut TIME
);

CREATE TABLE FILM (
  Num_film INTEGER NOT NULL PRIMARY KEY,
  Titre    VARCHAR(255),
  Duree    INTEGER
);

CREATE TABLE SALLE (
  Num_salle INTEGER NOT NULL PRIMARY KEY,
  Capacite  INTEGER
);

CREATE TABLE PROJECTION (
  Num_projection INTEGER NOT NULL PRIMARY KEY,
  Tarif          DECIMAL(10,2),
  Num_creneau    INTEGER NOT NULL,
  Num_film       INTEGER NOT NULL,
  Num_salle      INTEGER NOT NULL,
  FOREIGN KEY (Num_salle) REFERENCES SALLE (Num_salle),
  FOREIGN KEY (Num_film) REFERENCES FILM (Num_film),
  FOREIGN KEY (Num_creneau) REFERENCES CRENEAU_HORAIRE (Num_creneau)
);

-- Ins√©rer des valeurs dans CRENEAU_HORAIRE
INSERT INTO CRENEAU_HORAIRE (Num_creneau, Date, Heure_de_debut) VALUES
(1, '2025-02-10', '14:00'),
(2, '2025-02-10', '16:30'),
(3, '2025-02-10', '19:00'),
(4, '2025-02-11', '14:00'),
(5, '2025-02-11', '16:30'),
(6, '2025-02-12', '14:00'),
(7, '2025-02-12', '16:30'),
(8, '2025-02-12', '19:00');

-- Ins√©rer des valeurs dans FILM
INSERT INTO FILM (Num_film, Titre, Duree) VALUES
(1, 'Inception', 148),
(2, 'Interstellar', 169),
(3, 'Avatar', 162),
(4, 'Titanic', 195),
(5, 'Joker', 122),
(6, 'The Dark Knight', 152),
(7, 'Pulp Fiction', 154),
(8, 'Forrest Gump', 142),
(9, 'The Matrix', 136),
(10, 'Gladiator', 155);

-- Ins√©rer des valeurs dans SALLE
INSERT INTO SALLE (Num_salle, Capacite) VALUES
(1, 150),
(2, 200),
(3, 100),
(4, 180),
(5, 250),
(6, 300),
(7, 220),
(8, 130);

-- Ins√©rer des valeurs dans PROJECTION
INSERT INTO PROJECTION (Num_projection, Tarif, Num_creneau, Num_film, Num_salle) VALUES
(1, 12.50, 1, 1, 1),
(2, 10.00, 2, 2, 2),
(3, 9.50, 3, 3, 3),
(4, 13.00, 4, 4, 4),
(5, 11.00, 5, 5, 5),
(6, 14.00, 6, 6, 6),
(7, 9.00, 7, 7, 7),
(8, 12.00, 8, 8, 8),
(9, 13.50, 1, 9, 3),
(10, 11.50, 2, 10, 4),
(11, 10.00, 3, 1, 5),
(12, 15.00, 4, 2, 6),
(13, 12.50, 5, 3, 7),
(14, 13.00, 6, 4, 8),
(15, 11.00, 7, 5, 1),
(16, 9.50, 8, 6, 2);

Ex√©cuter les requ√™tes suivantes pour 

**Cliquez sur la cellule ci-dessous et appuyer sur Ctrl+Enter** pour ex√©cuter la requ√™te SQL qui affiche le contenu de la table.

In [ ]:
SELECT * FROM FILM

In [ ]:
SELECT * FROM PROJECTION

In [ ]:
SELECT * FROM SALLE

In [ ]:
SELECT * FROM CRENEAU_HORAIRE

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 1 </h3>

Petite r√©vision SQL (voir le√ßon pr√©c√©dente).

√âcrire les requ√™tes SQL permettant d'extraire de cette base de donn√©es les informations qui suivent. Aidez-vous du Cheat sheet SQL remis en classe.

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**

A) Affiche uniquement les titres et la dur√©e des films.

In [ ]:
SELECT Titre, Duree FROM FILM;

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


B) Affiche les films dont la dur√©e est sup√©rieure √† 120 minutes.

In [ ]:
SELECT * FROM FILM WHERE Duree > 120;

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


C) Affiche les films dont le titre contient la lettre "a".

In [ ]:
SELECT * FROM FILM WHERE Titre LIKE '%a%';

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


D) Affiche toutes les projections avec leur num√©ro et leur tarif.

In [ ]:
SELECT Num_projection, Tarif FROM PROJECTION;

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


E) Affiche toutes les projections qui ont lieu apr√®s 18h00.

In [ ]:
SELECT * FROM PROJECTION WHERE Tarif < 10;

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


F) Affiche les projections qui auront lieu le 10 f√©vrier 2025.

In [ ]:
SELECT * FROM CRENEAU_HORAIRE WHERE Heure_de_debut > '18:00';

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


G) Affiche les projections qui auront lieu le 10 f√©vrier 2025.

In [ ]:
SELECT * FROM CRENEAU_HORAIRE WHERE Date = '2025-02-10';

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


H) Affiche les salles qui ont une capacit√© de plus de 150 places.

In [ ]:
SELECT * FROM SALLE WHERE Capacite > 150;

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


I) Affiche les films tri√©s par ordre d√©croissant de dur√©e.

In [ ]:
SELECT * FROM FILM ORDER BY Duree DESC;

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


J) Affiche le nombre total de films dans la base de donn√©es.

In [ ]:
SELECT COUNT(*) AS Nombre_de_films FROM FILM;

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


K) Affiche la dur√©e moyenne des films.

In [ ]:
SELECT AVG(Duree) AS Duree_moyenne FROM FILM;

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


L) Affiche le film le plus long avec son titre et sa dur√©e.

In [ ]:
SELECT Titre, Duree FROM FILM ORDER BY Duree DESC LIMIT 1;

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


M) Affiche le tarif le plus √©lev√© et le plus bas parmi toutes les projections.

In [ ]:
SELECT MAX(Tarif) AS Tarif_max, MIN(Tarif) AS Tarif_min FROM PROJECTION;

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


N) Affiche la capacit√© totale de toutes les salles. (i.e. Somme de toutes les places).

In [ ]:
SELECT SUM(Capacite) AS Capacite_totale FROM SALLE;

**Ctrl + Enter pour continuer**

## II) Expression conditionnelle avec un CASE

Comment afficher les salles avec une cat√©gorie de capacit√© ?

- "Petite salle" si la capacit√© est inf√©rieure √† 100,
- "Moyenne salle" si elle est entre 100 et 200,
- "Grande salle" si elle est sup√©rieure √† 200.

==> En utilisant une expression conditionnelle CASE. Ex√©cuter la requ√™te suivante:

In [ ]:
SELECT Num_salle, Capacite,
       CASE 
           WHEN Capacite < 100 THEN 'Petite salle'
           WHEN Capacite BETWEEN 100 AND 200 THEN 'Moyenne salle'
           ELSE 'Grande salle'
       END AS Categorie
FROM SALLE;

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 2 : Expression conditionnelle avec un CASE </h3>

üìù **√âcris la requ√™te SQL selon l'√©nonc√© suivant:**


En t'inspirant de l'exemple ci-dessus, affiche les projections avec une classification du tarif:
- "Tarif r√©duit" si le prix est inf√©rieur √† 10 CHF.
- "Tarif standard" si le prix est entre 10‚Ç¨ et 12 CHF.
- "Tarif premium" si le prix est sup√©rieur √† 12 CHF.

In [ ]:
SELECT Num_projection, Tarif,
       CASE 
           WHEN Tarif < 10 THEN 'Tarif r√©duit'
           WHEN Tarif BETWEEN 10 AND 12 THEN 'Tarif standard'
           ELSE 'Tarif premium'
       END AS Categorie_tarif
FROM PROJECTION;

**Ctrl + Enter pour continuer**

## III) Les jonctions

### ‚ùì Comment trouver des informations qui se trouvent dans plusieurs tables ?

Lorsqu'on construit une base de donn√©es relationnelle, les informations sont souvent r√©parties dans plusieurs tables pour √©viter les redondances et am√©liorer l'organisation des donn√©es.

Mais comment peut-on r√©cup√©rer des donn√©es qui sont li√©es entre plusieurs tables ? C'est l√† qu'intervient le `INNER JOIN` !

---



### üìñ Introduction au INNER JOIN

Le `INNER JOIN` permet de combiner des lignes de deux tables lorsque les valeurs d'une colonne correspondent dans les deux tables.
Seules les lignes ayant une correspondance dans **les deux tables** sont retourn√©es.

#### üìå Syntaxe G√©n√©rale :
```sql
SELECT colonne1, colonne2, ...
FROM Table1
INNER JOIN Table2
ON Table1.colonne_commune = Table2.colonne_commune;
```

---

### üîé Exemple 1 : Lister les projections avec leurs films associ√©s

Nous avons deux tables :
- **`FILM`** (`Num_film`, `Titre`, `Dur√©e`)
- **`PROJECTION`** (`Num_projection`, `Tarif`, `Num_film` ‚Üí cl√© √©trang√®re)

üìå **√ânonc√© :**
Affiche toutes les projections avec les titres et le tarif des films correspondants.

In [ ]:
SELECT PROJECTION.Num_projection, FILM.Titre, PROJECTION.Tarif
FROM PROJECTION
INNER JOIN FILM ON PROJECTION.Num_film = FILM.Num_film;

### üîé Exemple 2 : Lister les projections avec leurs cr√©neaux horaires

Nous avons deux tables :
- **`PROJECTION`** (`Num_projection`, ``)
- **`CRENEAU_HORAIRE`** (`Num_creneau`, `Date_projection`, `Heure_de_debut`)

üìå **√ânonc√© :**
Affiche la liste des projections avec leur date et leur heure de d√©but.

In [ ]:
SELECT PROJECTION.Num_projection, CRENEAU_HORAIRE.Date, CRENEAU_HORAIRE.Heure_de_debut
FROM PROJECTION
INNER JOIN CRENEAU_HORAIRE ON PROJECTION.Num_creneau = CRENEAU_HORAIRE.Num_creneau;

### ‚úçÔ∏è Exercices d‚Äôapplication

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 3 : Lister les projections avec les salles associ√©es </h3>

Affiche toutes les projections avec **leurs salles associ√©es** et **leurs capacit√©s**.

üí° **Tables :**  
- `PROJECTION` (`Num_projection`, `Tarif`, `Num_salle`)  
- `SALLE` (`Num_salle`, `Capacite`)

üìù **√âcris la requ√™te SQL :**

In [ ]:
SELECT PROJECTION.Num_projection, CRENEAU_HORAIRE.Date, CRENEAU_HORAIRE.Heure_de_debut
FROM PROJECTION
INNER JOIN CRENEAU_HORAIRE ON PROJECTION.Num_creneau = CRENEAU_HORAIRE.Num_creneau;

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 4 :  Trouver les films projet√©s apr√®s 18h00 </h3>

Affiche tous les films qui ont une projection **apr√®s 18h00**, avec leur titre et leur heure de d√©but.

üí° **Tables :**  
- `FILM` (`Num_film`, `Titre`)  
- `PROJECTION` (`Num_projection`, `Num_film`, `Num_creneau`)  
- `CRENEAU_HORAIRE` (`Num_creneau`, `Heure_de_debut`)

üìù **√âcris la requ√™te SQL :**

In [ ]:
SELECT FILM.Titre, CRENEAU_HORAIRE.Heure_de_debut
FROM FILM
INNER JOIN PROJECTION ON FILM.Num_film = PROJECTION.Num_film
INNER JOIN CRENEAU_HORAIRE ON PROJECTION.Num_creneau = CRENEAU_HORAIRE.Num_creneau
WHERE CRENEAU_HORAIRE.Heure_de_debut > '18:00:00';

<h3 style="color:teal;background-color:azure;" > <i class="fa fa-pencil" aria-hidden="true"> </i> &nbsp; Exercice 5 :  Afficher le nombre de projections par film </h3>  

Affiche le **titre des films** et **le nombre total de projections** pour chaque film.

üí° **Tables :**  
- `FILM` (`Num_film`, `Titre`)  
- `PROJECTION` (`Num_projection`, `Num_film`)

üìù **√âcris la requ√™te SQL :**

In [ ]:
SELECT FILM.Titre, COUNT(PROJECTION.Num_projection) AS Nombre_de_projections
FROM FILM
INNER JOIN PROJECTION ON FILM.Num_film = PROJECTION.Num_film
GROUP BY FILM.Titre;