<div style="padding:20px;background-color:papayawhip;" > 
<h3 style="color:chocolate"> <i class="fa fa-info" aria-hidden="true"> </i> &nbsp; Lisez bien les consignes ! &nbsp;  <i class="fa fa-info" aria-hidden="true"></h3> 

<p>
    
1) Commencer par Ex√©cuter la cellule suivante (la base de donn√©e ci-dessous) afin de la charger.

2) Cr√©er les requ√™tes SQL pour chaque question en vous aidant de votre m√©mo SQL.

3) Enregistrez votre travail avec le bouton  <i class="fa fa-floppy-o" aria-hidden="true"> </i> et d√©posez-le dans la zone Rendu (raccourci sur le bureau) sp√©cifi√© par votre enseignant. 
</p> 
</div>

# Pr√©sentation de la base de donn√©es "M√©diath√®que Musicale"

## üìå Introduction
Cette base de donn√©es est con√ßue pour g√©rer une m√©diath√®que musicale o√π des clients peuvent emprunter des albums. Elle contient des informations sur les albums, les artistes, les clients et les emprunts r√©alis√©s.

## üìÇ Structure de la Base
La base est compos√©e de plusieurs tables principales :

- **Album** : Contient les albums disponibles, leur titre, leur ann√©e de sortie et leur disponibilit√©.
- **Artiste** : R√©pertorie les artistes avec leur nom et pr√©nom.
- **Artiste_de** : Associe les albums √† leurs artistes (relation plusieurs-√†-plusieurs).
- **Client** : Stocke les informations des clients (nom, pr√©nom, email).
- **Emprunt** : Enregistre les albums emprunt√©s par les clients avec la date d'emprunt.

## üîó Relations entre les tables
- Un **album** peut √™tre associ√© √† plusieurs **artistes** via la table `Artiste_de`.
- Un **client** peut emprunter plusieurs **albums**, et un **album** peut √™tre emprunt√© par plusieurs **clients** via la table `Emprunt`. 

![Image d'une fleur](https://gitedu.hesge.ch/info_sismondi/activites-2in-do/-/raw/main/Notebooks/schema_relationnel_simple.png?ref_type=heads&inline=false)

In [ ]:
CREATE TABLE Album(
    id_album INTEGER PRIMARY KEY AUTOINCREMENT,
    titre VARCHAR(100), 
    annee INT, 
    dispo INT
);


CREATE TABLE Artiste(
    id_artiste INTEGER PRIMARY KEY AUTOINCREMENT,
    nom VARCHAR(100),
    prenom VARCHAR(100)
);


CREATE TABLE Artiste_de(
    id_artiste INT REFERENCES Artiste(id_artiste),
    id_album INT REFERENCES Album(id_album),
    PRIMARY KEY (id_artiste, id_album)
);
    

CREATE TABLE Client(
    id_client INTEGER PRIMARY KEY AUTOINCREMENT, 
    nom VARCHAR(100), 
    prenom VARCHAR(100), 
    email VARCHAR(100)
);


CREATE TABLE Emprunt(
    id_client INT REFERENCES Client(id_client),
    id_album INT REFERENCES Album(id_album),
    jour DATE, 
    PRIMARY KEY (id_client, id_album)
);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (1,'Blues Breakers',1966,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (2,'I Still Do',2016,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (3,'Aftermath',1966,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (4,'Off the Wall',1979,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (5,'Axis : Bold As Love',1967,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (6,'Thriller',1982,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (7,'Black and Blue',1976,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (8,'Riding With The King',2000,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (9,'Bad',1987,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (10,'It''s Only Rock''n Roll',1974,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (11,'Don''t Explain',2011,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (12,'Aretha',1980,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (13,'Abbey Road',1969,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (14,'Let It Be',1970,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (15,'44/876',2018,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (16,'Lady Soul',1968,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (17,'Back in Black',1980,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (18,'Sacred Love',2003,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (19,'Songs in the Key of Life',1976,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (20,'Power Up',2020,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (21,'The Last Ship',2013,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (22,'Signed, Sealed & Delivered',1970,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (23,'Fire on the Floor',2016,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (24,'Continus time',2005,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (25,'Continuum',2006,0);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (26,'Exodus',1977,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (27,'Sex Machine',1970,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (28,'T.N.T.',1975,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (29,'Leave the Light On',2003,1);
INSERT INTO "Album" ("id_album","titre","annee","dispo") VALUES (30,'Blues Deluxe',2003,1);
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (1,'Clapton','√âric');
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (2,'Mayall','John');
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (3,'Hendrix','Jimi');
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (4,'Mayer','John');
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (5,'The Rolling Stones',NULL);
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (6,'Hart','Beth');
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (7,'Jackson','Michael');
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (8,'B.B. King',NULL);
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (9,'Franklin','Aretha');
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (10,'The Beatles',NULL);
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (11,'Sting',NULL);
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (12,'Shaggy',NULL);
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (13,'AC/DC',NULL);
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (14,'Wonder','Stevie');
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (15,'Bonamassa','Joe');
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (16,'Marley','Bob');
INSERT INTO "Artiste" ("id_artiste","nom","prenom") VALUES (17,'Brown','James');
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (1,1);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (1,2);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (1,8);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (2,1);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (3,5);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (4,24);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (4,25);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (5,3);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (5,7);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (5,10);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (6,11);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (6,23);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (6,29);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (7,4);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (7,6);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (7,9);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (8,8);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (9,12);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (9,16);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (10,13);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (10,14);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (11,15);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (11,18);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (11,21);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (12,15);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (13,17);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (13,20);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (13,28);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (14,19);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (14,22);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (15,11);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (15,30);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (16,26);
INSERT INTO "Artiste_de" ("id_artiste","id_album") VALUES (17,27);
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (1,'Dupont','Florine','dupont.florine@domaine.net');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (2,'Dupont','Michel','dupont.michel@domaine.net');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (3,'Marchand','Gr√©goire','greg.marchand49@music.com');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (4,'Michel','Val√©rie','vmichel5@monmail.com');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (5,'Pacot','Jean','jpacot@music.com');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (6,'Durand','Julien','jdurand9@email.fr');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (7,'Moreau','Alain','amoreau1@abc.de');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (8,'Rouger','L√©a','');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (9,'Dubois','Philippe','pdubois5@chezmoi.net');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (10,'Robert','Pascal','probert9@monmail.com');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (11,'Fournier','Marie','mfournier@abc.de');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (12,'Fournier','David','dfournier4@abc.de');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (13,'Lefranc','Fran√ßoise','flaurent3@monmail.com');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (14,'Simon','Sandrine','ssimon2@domaine.net');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (15,'Petit','S√©bastien','spetit4@email.fr');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (16,'Bernardin','St√©phanie','sbernard1@chezmoi.net');
INSERT INTO "Client" ("id_client","nom","prenom","email") VALUES (17,'Petit','Morgane','morgane.petit@email.fr');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (1,5,'2021-09-10');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (3,8,'2021-08-18');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (3,24,'2021-08-18');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (5,25,'2021-09-12');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (5,6,'2021-10-10');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (9,20,'2021-09-28');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (11,14,'2021-10-08');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (7,15,'2021-10-08');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (7,19,'2021-10-08');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (7,16,'2021-10-15');
INSERT INTO "Emprunt" ("id_client","id_album","jour") VALUES (16,29,'2021-10-01');

<h3 style="color:teal;background-color:azure;" >Question 1: 
    Lister les diff√©rentes ann√©es o√π des albums sont sortis (sans doublons). üé§</h3>

<h3 style="color:teal;background-color:azure;" >Question 2: Lister les albums du plus r√©cent au plus ancien. üéµ </h3>

<h3 style="color:teal;background-color:azure;" >Question 3: Lister les clients par ordre alphab√©tique. üìÄ</h3>

<h3 style="color:teal;background-color:azure;" >Question 4: Trouver tous les albums sortis apr√®s 2000 qui sont disponiblesüé∂ </h3>

<h3 style="color:teal;background-color:azure;" >Question 5: Trouver tous les clients qui ont un email (ce qui signifie que le champ email n'est pas vide, √©crire: ... <>"") üé∏</h3>

<h3 style="color:teal;background-color:azure;" >Question 6: Trouver tous les albums contenant "Rock" dans leur titre. üé§</h3>

<h3 style="color:teal;background-color:azure;" >Question 7: Compter le nombre total d'albums dans la base. üìä</h3>

<h3 style="color:teal;background-color:azure;" >Question 8: Trouver les albums de 1966 ou 1970. üéº</h3>

<h3 style="color:teal;background-color:azure;" >Question 9: Afficher uniquement le titre du plus ancien album (donc juste un titre).</h3>

<h3 style="color:teal;background-color:azure;" >Question 10: Trouver les albums sortis entre 1980 et 2000 qui sont disponibles.</h3>

<h3 style="color:teal;background-color:azure;" >Question BONUS: Trouver les clients dont le pr√©nom commence par "J" et qui ont renseign√© une adresse email.</h3>